<div class="row">
  <div class="col-sm-3">
    <div class="row left-side">
      <div class="center">
        <h1>
          游必有方 
        </h1>
      </div>
      <hr/>
      <div class="drop-control" id="map_location">
          <div class="drop-title pointer-cursor">
            地图位置
          </div>
          <div class="drop-body">
            <div class="row center side-control">
              <button id="my_pos" class="btn">跳转到我的位置</button>
            </div>
            <div class="center side-control">
              经度:
              <input type="number" class="form-control" id="longitude"/>
            </div>
            <div class="center side-control">
              纬度:
              <input type="number" class="form-control" id="latitude"/>
            </div>
            <div class="center side-control">
              <button id="jump_to" class="btn blue">跳转</button>
            </div>
          </div>
        
      </div>
      <div class="drop-control" id="city_to_go">
          <div class="drop-title pointer-cursor">
            目标城市
          </div>
          <div class="drop-body">
            <div class="center side-control">
              目标城市:
              <input id="dist_city"  class="form-control"/>
            </div>
            
            <div class="center side-control">
              <button id="city_go" class="btn blue">查看</button>
            </div>
          </div>
        
      </div>
      <% if log_in? %>
      <div class="drop-control" id="interest_points">
          <div class="drop-title pointer-cursor">
            收藏的点
          </div>
          <div class="drop-body poi-body">
            收藏当前点
            <div class="center side-control">
              命名:
              <input id="poi_naming"  class="form-control"/>
              <button id="poi_add" class="btn blue">添加</button>
            </div>
            <div id="interest_points_content">
              
            </div>
            
          </div>
      </div>
      <% end %>
      
    </div>
  </div>
  <div class="col-sm-9">
    <div class="map-content row">
      <div class="row center">
        <h2>地图面板</h2>
        
      </div>
      <hr/>
      <div class="row">
        <div class="center">
          <%= image_tag "", id: :map, alt: "地图", style: "cursor:pointer"%>
        </div>
      </div>
      
      <div class="row center" style="padding:20px">
        <button id="zoom_minus" class="btn zoom">zoom-</button>
        
        <button id="left" class="btn direction inline-block">left</button>
        <div class="vertical inline-block center">
          <button id="up" class="btn direction block" style="margin-left:8px;margin-bottom:5px">up</button>
          <button id="down" class="btn direction block">down</button>
        </div>
        <button id="right" class="btn direction inline-block">right</button>
        
        <button id="zoom_plus" class="btn zoom">zoom+</button>
          
      </div>
      
      <div class="row center" style="padding-bottom:10px">
        
      </div>
      
    </div>
    <div class="info-content" style="height:auto">
      <div class="row center">
        <h2>信息面板</h2>
      </div>
      <hr/>
      <div class="row" style="margin-left:20px">
        <div style="margin-left:20px" class="first-hidden col-sm-5" id="attractions"></div>
        <div class="inline-block first-hidden col-sm-6" id= "weathers"></div>
      </div>
      <div style="margin-left:20px">
        <div class="inline-block first-hidden" id= "descriptions"></div>
      </div>
    </div>
    <div style="padding-bottom:100px"></div>
  </div>
</div>
<div class="allmap" id="allmap"></div>
<input type="hidden" id="now_longitude" value="116.403874"></input>
<input type="hidden" id="now_latitude" value="39.914888"></input>
<input type="hidden" id="now_height" value="600"></input>
<input type="hidden" id="now_width" value="800"></input>
<input type="hidden" id="now_zoom" value="11"></input>
<% if log_in? %>
  <input type="hidden" id="user_id" value="<%= current_user.id%>"></input>
<% end %>

