@import "bootstrap-sprockets";
@import "bootstrap";

body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #777;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}
/* header */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}
#logo:hover {
color: #fff;
text-decoration: none;
}

.pointer-cursor{
  cursor:pointer;
}

.inline-block{
  display: inline-block;
}

.block{
  display: block;
}

.pointer{
  cursor: pointer;
}

.drop-control{
  
}

.drop-title{
  padding: 10px 0;
  font-size: 1.2em;
  padding-left:15px;
  border-bottom: 1px solid grey;
}

.drop-title:hover{
  background-color: #060606;
  
}

.map-content{
  background:#e6e6e6;
  border: 2px solid grey;
  margin-left: 10px;
}

.map-content h2{
  font-size:2em;
  color:#000;
  margin-bottom:0;
}

.map-content hr{
  font-size:2em;
  border-color:#000;
}

.map-content .direction{
  background-color: darkcyan;
  color: azure;
}

.map-content .zoom{
  margin: 0 20px;
  background-color: darkseagreen;
  color: snow;
}

.map-content #my-pos{
  float: right;
  background-color: darkseagreen;
  color: snow;
}

.left-side{
  border: 2px solid grey;
  background-color: #1b2a35;
  color: #eee;
}

.left-side .side-control{
  padding: 10px 0;
}

.left-side .offset-bar{
  height:100px;

}

.left-side input{
  color: #000;
}

.left-side .form-control{
  width: 60%;
  display:inline-block;
  margin-left:10px;
}

.left-side button{
  color: snow;
  background-color: #578ebd
}

.info-content{
  background:#e6e6e6;
  border: 2px solid grey;
  margin-left: 10px;
  margin-top: 20px;
}

.info-content h2{
  font-size:2em;
  color:#000;
  margin-bottom:0;
}

.info-content hr{
  font-size:2em;
  border-color:#000;
}

.poi-body{
  font-size: 1.2em;
  margin-left: 20px;
  display: block;
}

.poi-body a{
  color: white;
  padding-bottom:5px;
  
}

.poi-jump{
  padding-left:25px;
}
